body{
    background: blue;
}
h2{
    font-family: comic sans ms;
    background-color: red;
    text-align: center;
}
table{
    background: grey;
}

table tr td{
    border: 2px dotted black;
}

.td{font-weight: bold}